@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;900&display=swap');

html,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
form,
label,
tbody,
tfoot,
thead,
tr,
th,
td,
menu,
nav,
section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: #fafafa;
  padding: 4%;
}

.bookContainer {
  margin-top: 30px;
}

hr {
  width: 93rem;
  height: 0.125rem;
  margin: 2.5rem 0.063rem 1.813rem 0;
  border: solid 1px #e8e8e8;
}

.backgroundcream {
  background-color: #fafafa;
}

.navbar {
  display: flex;
  align-items: center;
  grid-gap: 40px;
  gap: 40px;
}

nav {
  width: 97.5%;
  height: 5.938rem;
  padding: 24px 4%;
  background-color: #fff;
  border-bottom: 1px solid #e8e8e8;
  display: flex;
  align-items: center;
  grid-gap: 40px;
  gap: 40px;
}

.navbar .logo {
  font-weight: bold;
  font-size: 1.875rem;
  margin-left: -35px;
}

.navbar li {
  list-style: none;
  margin: 0.3rem 2.5rem;
  color: #0290ff;
}

.navbarlink {
  text-decoration: none;
  font-weight: 400;
  font-size: 0.813rem;
  color: #888;
}

.navbarlink:hover {
  text-decoration: underline;
}

.bookList {
  list-style: none;

  /* width: 87.5rem;
  height: 68.563rem; */
  margin: 0 2.5rem 4.063rem 0;

  /* padding: 0 0 49.625rem; */
  border-radius: 4px;
  box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.05);
  background-color: #fafafa;
}

.addcontainer {
  margin-top: -10px;
}

.ListBook {
  width: 10.875rem;
  height: 1.5rem;
  margin: 7px;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.25rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.18px;
  color: #888;
}

.form {
  display: flex;
  justify-content: space-between;
}

.title {
  padding: 12px;
  border-radius: 4px;
  border: 1px solid #e8e8e8;
  background-color: #fff;
  font-size: 1rem;
  letter-spacing: -0.15px;
  color: #c4c4c4;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  margin-top: 10px;
  margin-left: 0;
}

.booktitle {
  margin-right: 69px;
  padding: 22px;
  width: 37.5rem;
  height: 2.813rem;
}

.categorytitle {
  width: 30%;
  padding: 12px;
  border-radius: 4px;
  border: 1px solid #e8e8e8;
  background-color: #fff;
  font-size: 1rem;
  letter-spacing: -0.15px;
  color: #c4c4c4;
}

.input-category {
  width: 24.813rem;
  height: 2.813rem;
  margin-left: -116px;
  margin-top: 10px;
  padding: 10px;
}

.submit {
  cursor: pointer;
  width: 11.5rem;
  height: 2.813rem;
  margin-top: 10px;
  padding: 12px;
  border-radius: 3px;
  background-color: #0290ff;
  border: none;
  letter-spacing: 0.5px;
  color: #fff;
  font-size: 0.813rem;
  font-weight: 700;
  font-family: "Roboto Slab", serif;
  position: relative;
  left: -44px;
  text-transform: uppercase;
}

.status {
  width: 100px;
  padding: 0.8rem;
  margin-left: 50%;
}

.card {
  display: flex;
  justify-content: space-between;

  /* border: 1px solid #ffffff;
  margin-top:20px;
  margin-left:10px;
  background-color: #fff;
  padding: 2rem; */
  flex: 1;
  height: 9.625rem;
  padding: 2rem 9.188rem 1.625rem 1.688rem;
  border-radius: 4px;
  border: 1px solid #e8e8e8;
  background-color: #fff;
  margin-top: 10px;
}

.category {
  font-size: 0.875rem;
  color: #121212;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  opacity: 0.5;
}

.bookTitle {
  font-family: 'Roboto Slab', serif;
  font-weight: 900;
  font-size: 1.375rem;
  letter-spacing: -0.2px;
}

.bookAuthor {
  font-family: 'Roboto Slab', serif;
  font-size: 0.875rem;
  color: #4386bf;
  font-weight: 300;
}

.bookElement {
  font-family: 'Roboto Slab', serif;
  font-size: 0.875rem;
  color: #4386bf;
  font-weight: 300;
  margin-right: 0.5rem;
  cursor: pointer;
}

.clear {
  font-family: 'Roboto Slab', serif;
  font-size: 0.875rem;
  color: #4386bf;
  font-weight: 300;
  margin-right: 0.3rem;
  margin-left: 0.2rem;
  border: none;
  background-color: #fff;
  cursor: pointer;
}

.element {
  margin-top: 0.5rem;
}

.rightBorder {
  border-right: 2px solid #e8e8e8;
  padding: 2px 0 2px 0;
}

.author {
  margin-left: -131px;
  width: 15%;
  height: 45px;
  border: 1px solid #e8e8e8;
  margin-top: 10px;
  margin-right: 55px;
  padding: 15px;
  color: #c4c4c4;
}

.distribution {
  border-right: 2px solid #e8e8e8;
  padding: 2px 0 2px 0;
}

.edit {
  margin-left: 0.5rem;
}

.progress {
  display: flex;
}

.progReport {
  padding-top: 1.5rem;
  padding-left: 0.5rem;
}

.percent {
  font-size: 2rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}

.rate {
  font-size: 0.875rem;
  color: #888;
}

.chapter h2 {
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
  color: #888;
}

.chapter h3 {
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
}

.progButton {
  padding: 0.5rem 2rem;
  padding-bottom: 0.5rem;
  margin-top: 1rem;
  color: #fff;
  background-color: #0290ff;
  border: none;
  border-radius: 5px;
  font-family: "RobotoSlab", sans-serif;
}

@media only screen and (max-width: 660px) {
  .card {
    display: block;
    padding-right: 1rem;
  }

  .element {
    margin-bottom: 1rem;
  }

  .progress {
    margin-bottom: 1rem;
  }

  .form {
    display: block;
    width: 300px;
  }

  .title {
    margin: 0.5rem 0;
    width: 100%;
  }

  .author {
    width: 100%;
    margin: 0.5rem 0;
  }

  .input-submit {
    padding: 1rem 2rem;
  }

  .distribution {
    display: none;
  }

  .user {
    display: none;
  }
}

.user {
  position: relative;
  top: 80px;
  left: 64px;
  float: right;
  margin-right: 106px;
  font-size: 20px;
  border-radius: 50%;
  border: 1px solid #e8e8e8;
  background-color: white;
  color: #0290ff;
  padding: 10px;
}
